extends layout

block content
      .recepie
        h2
          | Рецепт щасливого життя від XII борда для Альони
        p
          b Інгредієнти:
        ul
          li самий топовий трежак - Мisha.
          li Найкраща студентська організація - 1 шт.
          li Робота мрії - щоб не обмежувала жити на повну
          li Відбірні люди поруч 1го ґатунку - якомога більше 
          li Подорожі - як мінімум 2 шт. / на півріччя 
          li
            | Таємний інгредієнт шедевру - 
            b любов.
        | Немає кращої страви, аніж та, яку приготувала людина на хвилі відвертої любові до тих, кому ця страва призначається. 
        | Альона, в очах якої було стільки запалу на курсі, довела, що вона настільки любить BEST, що тої любові вистачить як мінімум на 35  безмежно задоволених шлунків.
        | Якби ж то алгоритми приготування їжі Альони містилися на відкритому аккаунті на КухарХабі, реалізація страв за її рецептами напевно відбувалася б на кожній кухні світу...
        p
        video(controls='controls')
          source(src='video/alena.mp4', type='video/mp4')
      .ITrecepie
        div
          p
            b IT кухня, або як стати успішною в улюбленій сфері.
            br
            br
            | Є таке місце, у яке усі хочуть «увійти». Ця сфера манить усіх великими грошима, перспективами працювати насолоджуючись красою, наприклад, Барселони, або бажанням створити крутий хакатон. Усі хочуть, а вона вже там. І відчуває себе якнайкраще.
            | Так, це вона була IT&Topic responsible найкращого хакатону Києва. Так, це саме вона отримала титул BEST IT. Так, це її хантять найкращі рекрутери топових компаній та фули, аби вона стала IT координатором локальної групи BEST Kyiv. Так, це Альона Калітенко.
            | Хіба це не успіх?
          img(src='images/italena.jpg', width='100%')
      .dance
        div
          p
            b Танцюй так, ніби ніхто не бачить.
            br
            br
            | Займатися улюбленою справою та отримувати справжнє задоволення від процесу - хіба не найбільше задоволення у цьому житті. Ще більше задоволення - коли ти дісно робиш цю справу добре та отримуєш хороший фідбек від людей.
            br
            | Танці - це стихія, яка дуже пасує Альоні. Як ваша випускна сукня пасує до ваших туфель на Оскар паті, як хакатону інт20аш личить рожевий колір. 
            br
            | Декілька років у найкращому ансамблі «Політехнік». Вона виступала на тому самому Політехніку. Проте це не єдиний майданчик, який вона покорила своїми народними. Вона робила це красиво та зі щирістю.
            br
            | Нехай ця краса та щирість супроводжує тебе і надалі по житті. У тебе все вийде.❤️
          img(src='images/dancealena.jpg', width='100%')
      .memes
        h3 Трішки мемчиків від борда...
        .row
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            img(src='images/mem1.jpg')
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            img(src='images/mem2.jpg')
        .row
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            img(src='images/mem3.jpg')
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            img(src='images/mem6.jpg')
        .row
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            img(src='images/mem5.jpg')
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            img(src='images/mem4.jpg')
        .row
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            img(src='images/mem7.jpg')
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            img(src='images/mem8.jpg')
      .how
        div
          p
            b Як вона все встигає?
            br
            | Машину часу ще не винайшли, телепорт, ніби то, також. Проте ця тендітна дівчина встигає багато усього: подорожувати, працювати, готувати для більше ніж 25 іноземців, приділяти часу стосункам та бути the BEST в усіх цих напрямках.
            br
            | Якщо б Альона була бізнес-мотівейшн-саксесфул коучем, то зібрала б достатньо багато людей на своїх тренінгах. 
            br
            | Можливо, один із наступних проектів BEST буде саме такий тренінг, хто знає...
            | А поки, мотивуємоюсь та надихаємось цією дівчиною просто у повсякденному житті.
      p.wish
        | З Днем Народження!