extends layout

block content
        .content
            .side
                h2(class="trans" key='about')
                img(src='/img/main/IMG_1718.jpg', style='width:80%' )
                p(class="trans" key='about_t')
                img(src='/img/main/me.jpg', style='width:80%' )
                br
                img(src='/img/main/me1.jpg', style='width:80%' )
            .main
                .row
                    .column#test
                        img(src='/img/20/IMG_2031.jpg', style='width:100%')
                        img(src='/img/18/IMG_6706.jpg', style='width:100%')
                        img(src='/img/20/IMG_2014.jpg', style='width:100%')
                        img(src='/img/20/IMG_1237.jpg', style='width:100%')
                        img(src='/img/20/IMG_7058.jpg', style='width:100%')
                        img(src='/img/20/IMG_6813.jpg', style='width:100%')
                        img(src='/img/20/4.jpg', style='width:100%')
                    .column
                        img(src='/img/20/IMG_2011.jpg', style='width:100%')
                        img(src='/img/18/IMG_6647.jpg', style='width:100%')
                        img(src='/img/18/IMG_6601.jpg', style='width:100%')
                        img(src='/img/20/IMG_1325.jpg', style='width:100%')
                        img(src='/img/20/IMG_7013.jpg', style='width:100%')
                        img(src='/img/20/IMG_1264.jpg', style='width:100%')
                    .column
                        img(src='/img/20/IMG_2271.jpg', style='width:100%')
                        img(src='/img/13/IMG_0141.jpg', style='width:100%')
                        img(src='/img/13/IMG_0136.jpg', style='width:100%')
                        img(src='/img/20/IMG_1312.jpg', style='width:100%')
                        img(src='/img/20/IMG_6007.jpg', style='width:100%')
                        img(src='/img/20/IMG_6033.jpg', style='width:100%')
                        img(src='/img/20/2.jpg', style='width:100%')
                    .column
                        img(src='/img/20/IMG_2356.jpg', style='width:100%')
                        img(src='/img/13/IMG_0161.jpg', style='width:100%')

                        img(src='/img/20/IMG_2369.jpg', style='width:100%')
                        img(src='/img/20/IMG_6034.jpg', style='width:100%')
                        img(src='/img/20/IMG_1375.jpg', style='width:100%')
                        img(src='/img/20/IMG_1256.jpg', style='width:100%')
